image/
__pycache__
**/build/
**/*.egg-info/
**/dist/
*.so
exp/*
!exp/.gitkeep
!exp/*/
exp/*/*
!exp/*/.gitkeep
!exp/*/*/
exp/*/*/*
!exp/*/*/.gitkeep
weights
data/*
!data/LICENSE
!data/KeyboneNetCross/
data/KeyboneNetCross/*
!data/KeyboneNetCross/.gitkeep
!data/KeyboneNetCross/synsetoffset2category.txt
!data/KeyboneNetCross/*/
data/KeyboneNetCross/annotations/*
data/KeyboneNetCross/geodesics/*
data/KeyboneNetCross/mesh/*
data/KeyboneNetCross/pcds/*
data/KeyboneNetCross/splits/*
!data/KeyboneNetCross/*/.gitkeep
*log*
outputs/
.vscode
.idea
*/.DS_Store
**/*.out
Dockerfile